<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <form>
            <div>
                <span>姓名：</span>
                <span>
                    <input type="text" v-model="name">
                </span>
            </div>
            <div>
                <span>性别：</span>
                <span>
                    <input type="radio" id="male" value="1" v-model="gender">
                    <label for="male">男</label>
                    <input type="radio" id="female" value="2" v-model="gender">
                    <label for="female">女</label>
                </span>
            </div>
            <div>
                <span>爱好：</span>
                <input type="checkbox" name="" id="ball" value="1" v-model="hobbies">
                <label for="ball">篮球</label>
                <input type="checkbox" name="" id="sing" value="2" v-model="hobbies">
                <label for="sing">唱歌</label>
                <input type="checkbox" name="" id="code" value="3" v-model="hobbies">
                <label for="code">写代码</label>
            </div>
            <div>
                <span>职业：</span>
                <select v-model="occupation" multiple="true">
                    <option value="0">请选择职业</option>
                    <option value="1">教师</option>
                    <option value="2">软件工程师</option>
                    <option value="3">律师</option>
                </select>
            </div>
            <div>
                <span>个人简介：</span>
                <textarea name="" id="" cols="30" rows="10" v-model="desc"></textarea>
            </div>

            <div>
                <input type="submit" value="提交" @click.prevent="handle">
            </div>
        </form>
    </div>
    <script>
        let vm=new Vue({
           el:'#app',
           data:{
               name: 'zhangsan',
               gender: 1,
               hobbies: [],
               occupation: [1, 2],
               desc: '123'
           },
           methods:{
               handle() {
                   console.log(this.hobbies.toString());
               }
           },
        });
    </script>
</body>

</html>