<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        .manage {
            margin: auto;
            text-align: center;
            margin-bottom: 10px;
        }
        .grid {
          margin: auto;
          width: 600px;
          text-align: center;
        }
        .grid table {
          width: 100%;
          border-collapse: collapse;
        }
        .grid th,td {
          padding: 10;
          border: 1px dashed orange;
          height: 35px;
          line-height: 35px;
        }
        .grid th {
          background-color: orange;
        }
      </style>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 添加图书 -->
        <div class="manage">
            <h1>图书管理</h1>
            <div>
                <label for="id">
                    编号：
                </label>
                <!-- 1.通过双向绑定获取到输入框中输入的id -->
                <input type="text" name="" id="id" v-model="id" :disabled="flag">
                <label for="name">
                    名称：
                </label>
                <input type="text" name="" id="nmae" v-model="name">
                <button @click="handle">提交</button>
            </div>
        </div>
        <!-- 渲染数据 -->
        <div class="grid">
            <table>
                <thead>
                    <tr>
                      <th>编号</th>
                      <th>名称</th>
                      <th>时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr v-for="(item, index) in books" :key="index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <!-- 阻止a标签的默认跳转事件 -->
                            <a href="" @click.prevent="toEdit(item.id)">修改</a>
                            <span>|</span>
                            <a href="" @click.prevent="deleteBook(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                flag: false, // 是否处于编辑状态下
                id: '',
                name: '',
                books: [{
                    id: 1,
                    name: '三国演义',
                    date: ''
                }, {
                    id: 2,
                    name: '水浒传',
                    date: ''
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: ''
                }, {
                    id: 4,
                    name: '西游记',
                    date: ''
                }]
            },
            methods: {
                handle() {
                    if(this.flag) {
                        // 编辑
                        // 根据id更新对应的数据
                        this.books.some((item) => {
                            if(item.id = this.id) {
                                item.name = this.name;
                                return true;
                            }
                        });
                        this.flag = false;
                    } else {
                        // 添加
                        let book = {};
                        book.id = this.id;
                        book.name = this.name;
                        book.date = '';
                        this.books.push(book);
                    }

                    // 清空输入框
                    this.id = '';
                    this.name = '';
                },
                toEdit(id) {
                    this.flag = true;
                    console.log(id);
                    let book = this.books.filter(function(item) {
                        return item.id == id;
                    });
                    console.log(book);
                    this.id = book[0].id;
                    this.name = book[0].name;
                },
                deleteBook(id) {
                    // 删除图书
                    // 根据id从数组中查找元素的索引
                    // let index = this.books.findIndex(function(item) {
                    //     return item.id = id;
                    // });
                    // // 根据索引删除数据
                    // if(index != -1) {
                    //     this.books.splice(index, 1);
                    // }

                    // 通过filter删除
                    // 使用filter方法过滤出不是要删除的id
                    // 因为filter是替换数组不会修改原始数据，所以需要把不是要删除书籍的数据赋值给books
                    this.books = this.books.filter(function(item) {
                        return item.id != id;
                    });
                }
            },
        });
    </script>
</body>

</html>