<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        .grid {
          margin: auto;
          width: 500px;
          text-align: center;
        }
        .grid table {
          width: 100%;
          border-collapse: collapse;
        }
        .grid th,td {
          padding: 10;
          border: 1px dashed orange;
          height: 35px;
          line-height: 35px;
        }
        .grid th {
          background-color: orange;
        }
      </style>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 添加图书 -->
        <div class="grid">
            <h1>图书管理</h1>
            <div>
                <label for="id">
                    编号：
                </label>
                <!-- 1.通过双向绑定获取到输入框中输入的id -->
                <input type="text" name="" id="id" v-model="id">
                <label for="name">
                    名称：
                </label>
                <input type="text" name="" id="nmae" v-model="name">
                <button @click="handle">添加</button>
            </div>
        </div>
        <!-- 渲染数据 -->
        <div class="grid">
            <table>
                <thead>
                    <tr>
                      <th>编号</th>
                      <th>名称</th>
                      <th>时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr v-for="(item, index) in books" :key="index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <!-- 阻止a标签的默认跳转事件 -->
                            <a href="" @click.prevent>修改</a>
                            <span>|</span>
                            <a href="" @click.prevent>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                books: [{
                    id: 1,
                    name: '三国演义',
                    date: ''
                }, {
                    id: 2,
                    name: '水浒传',
                    date: ''
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: ''
                }, {
                    id: 4,
                    name: '西游记',
                    date: ''
                }]
            },
            methods: {
                handle() {
                    let book = {};
                    book.id = this.id;
                    book.name = this.name;
                    book.date = '';
                    this.books.push(book);
                    // 清空输入框
                    this.id = '';
                    this.name = '';
                }
            },
        });
    </script>
</body>

</html>